/.settings
/.buildpath
/.project
/.idea
/node_modules
/composer.phar
composer.lock
/behat.yml
/var/*
!var/cache/
/var/cache/*
!var/cache/.gitkeep
!var/logs/
/var/logs/*
!var/logs/.gitkeep
!var/data/
/var/data/*
!var/data/.gitkeep
!var/oro-check.php
/build/logs/*
/vendor
/cov
!public/bundles/
/public/bundles/*
!public/bundles/.gitkeep
/public/images
!public/js/
/public/js/*
!public/js/.gitkeep
/public/build
/public/layout-build
/public/media/cache
/public/media/sitemaps
/public/media/behat
/public/media/js
/public/build.js
/config/parameters.yml
/config/.env
/.env-app.local
/.env-app.local.php
/.env-app.*.local
phpunit.xml
.phpunit.result.cache
/.behat-secrets.yml
*~
bin/*
!bin/console
!bin/dist
/.web-server-pid
/.vagrant
/.php-version
/docker-compose.override.yml

# WARP FRAMEWORK
!/warp
!/.warp
!/.warp/**
/.env
/docker-compose-warp.yml
/docker-compose-warp-mac.yml
/docker-sync.yml
!/.env.sample
!/docker-compose-warp.yml.sample
!/docker-compose-warp-mac.yml.sample
!/docker-sync.yml.sample
/.self-update-warp
/.docker-sync
/.warp/docker/volumes
/.warp/docker/dumps
/.warp/setup
/.warp/lib
/.warp/bin
/.warp/docker/config/php/ext-xdebug.ini
/.warp/docker/config/php/ext-ioncube.ini
# FRAMEWORK WARP

/.warp/docker/config/bash/.bashrc
/.dockerignore
/.warp/docker/config/.empty
/.env.sample
/.warp/docker/config/nginx/auth/.htpasswd
/.warp/docker/config/nginx/ssl/cert.pem
/.warp/docker/config/crontab/cronfile
/.warp/docker/config/supervisor/conf.d/dashboard.conf
/.warp/docker/config/nginx/sites-enabled/default.conf
/.warp/docker/config/varnish/default.vcl
/docker-compose-warp.yml.sample
/docker-compose-warp-mac.yml.sample
/docker-sync.yml.sample
/.warp/docker/config/php/ext-ioncube.ini.sample
/.warp/docker/config/php/ext-xdebug.ini.sample
/.warp/includes.sh
/.warp/docker/config/nginx/ssl/key.pem
/kibana.yml
/.warp/docker/config/nginx/sites-enabled/m1.conf
/.warp/docker/config/nginx/sites-enabled/m2.conf
/.warp/docker/config/nginx/sites-enabled/multi_store.conf
/.warp/docker/config/nginx/sites-enabled/multi_website.conf
/.warp/docker/config/supervisor/conf.d/myapp.conf
/.warp/docker/config/nginx/nginx.conf
/.warp/docker/config/nginx/sites-enabled/oro.conf
/.warp/docker/config/supervisor/conf.d/oro.cron.conf
/.warp/docker/config/supervisor/conf.d/oro.data_audit.conf
/.warp/docker/config/supervisor/conf.d/oro.default.conf
/.warp/docker/config/supervisor/conf.d/oro.email.conf
/.warp/docker/config/supervisor/conf.d/oro.image_resize.conf
/.warp/docker/config/nginx/sites-enabled/oro.local.conf
/.warp/docker/config/supervisor/conf.d/oro.pricing.conf
/.warp/docker/config/supervisor/conf.d/oro.redirect.conf
/.warp/docker/config/supervisor/conf.d/oro.search.conf
/.warp/docker/config/supervisor/conf.d/oro.service_jobs.conf
/.warp/docker/config/supervisor/conf.d/oro.websocket.conf
/.warp/docker/config/nginx/sites-enabled/php.conf
/.warp/docker/config/php/php.ini
/.warp/docker/config/php/php-fpm.conf
/.warp/docker/config/nginx/sites-enabled/proxy.conf
/.warp/docker/config/nginx/sites-enabled/sandbox-m2.conf
/.warp/docker/config/appdata/startup.sh
/.warp/variables.sh
/warp
/.warp/docker/config/etc/init.d/warpd
