{% block _inventory_status_container_widget %}
    <div{{ block('block_attributes') }}>
        <p>
            Inventory status: <span class="inventory_status">{{ status }}</span>
        </p>
    </div>
{% endblock %}



